*, :before, :after {
  box-sizing: border-box;
}

.hepta-slab-normal, body {
  font-optical-sizing: auto;
  font-family: Hepta Slab, serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background: #f1f0f5;
}

.wrapper {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  display: grid;
}

form.inline {
  display: inline;
}

hr {
  border: 0;
  border-top: 3px double #000;
}

article {
  flex-direction: column;
  display: flex;
}

.card-head {
  --rule-start: 2rem;
  --text-start: .3rem;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent var(--rule-start), #abced4 var(--rule-start), #abced4 calc(var(--rule-start)  + 2px), transparent calc(var(--rule-start)  + 2px)), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 2.6rem;
  height: 3.9rem;
  padding-top: 1.3rem;
}

.card-head .headercontainer {
  margin-left: calc(var(--text-start)  + var(--rule-start));
}

.card-head h1 {
  margin: -2px 0 0;
  font-size: 32px;
  line-height: 1.3;
}

.card-head h1:before, .card-head h1:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}

.card-head h1:before {
  margin-bottom: -.3em;
}

.card-head h1:after {
  margin-top: -.3em;
}

.card {
  --rule-start: 2rem;
  --text-start: .3rem;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent var(--rule-start), #abced4 var(--rule-start), #abced4 calc(var(--rule-start)  + 2px), transparent calc(var(--rule-start)  + 2px)), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 21px;
  padding-bottom: calc(2.4em + .5px);
  position: relative;
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
}

.card p:before, .card p:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}

.card p:before {
  margin-bottom: -.3em;
}

.card p:after {
  margin-top: -.3em;
}

.card li, .card label, .card form.addtodo button {
  margin: 2px 0 -2px;
  font-size: 16px;
}

.card button {
  cursor: pointer;
}

.card p, .card form.addtodo {
  margin: 0;
  margin-left: calc(var(--text-start)  + var(--rule-start));
  flex-direction: row;
  margin-top: 2px;
  display: flex;
}

.card input {
  max-width: 15ch;
  margin-right: 1rem;
  font-size: 16px;
}

.card button, .card input, .card form:not(.addtodo) {
  background: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.card ul {
  flex-direction: column;
  margin: 0;
  padding-inline-start: calc(var(--text-start)  + var(--rule-start));
  display: flex;
}

.card ul li {
  height: 21px;
}

input, button, article {
  font-optical-sizing: auto;
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-family: Shantell Sans, cursive;
  font-style: normal;
  font-weight: 400;
}

.headercontainer {
  display: inline-flex;
}

.firstheading {
  display: inline;
}

.otherheading {
  color: #483d8b;
  cursor: pointer;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

header details {
  color: #000;
  font-size: .7rem;
}

header details summary {
  color: #000;
  font-size: 1rem;
}

footer {
  color: #696969;
  margin-top: 2rem;
  font-size: .7rem;
  font-style: italic;
}
*, :before, :after {
  box-sizing: border-box;
}

.hepta-slab-normal, body {
  font-optical-sizing: auto;
  font-family: Hepta Slab, serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background: #f1f0f5;
}

.wrapper {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  display: grid;
}

form.inline {
  display: inline;
}

hr {
  border: 0;
  border-top: 3px double #000;
}

article {
  flex-direction: column;
  display: flex;
}

.card-head {
  --rule-start: 2rem;
  --text-start: .3rem;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent var(--rule-start), #abced4 var(--rule-start), #abced4 calc(var(--rule-start)  + 2px), transparent calc(var(--rule-start)  + 2px)), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 2.6rem;
  height: 3.9rem;
  padding-top: 1.3rem;
}

.card-head .headercontainer {
  margin-left: calc(var(--text-start)  + var(--rule-start));
}

.card-head h1 {
  margin: -2px 0 0;
  font-size: 32px;
  line-height: 1.3;
}

.card-head h1:before, .card-head h1:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}

.card-head h1:before {
  margin-bottom: -.3em;
}

.card-head h1:after {
  margin-top: -.3em;
}

.card {
  --rule-start: 2rem;
  --text-start: .3rem;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent var(--rule-start), #abced4 var(--rule-start), #abced4 calc(var(--rule-start)  + 2px), transparent calc(var(--rule-start)  + 2px)), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 21px;
  padding-bottom: calc(2.4em + .5px);
  position: relative;
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
}

.card p:before, .card p:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}

.card p:before {
  margin-bottom: -.3em;
}

.card p:after {
  margin-top: -.3em;
}

.card li, .card label, .card form.addtodo button {
  margin: 2px 0 -2px;
  font-size: 16px;
}

.card button {
  cursor: pointer;
}

.card p, .card form.addtodo {
  margin: 0;
  margin-left: calc(var(--text-start)  + var(--rule-start));
  flex-direction: row;
  margin-top: 2px;
  display: flex;
}

.card input {
  max-width: 15ch;
  margin-right: 1rem;
  font-size: 16px;
}

.card button, .card input, .card form:not(.addtodo) {
  background: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.card ul {
  flex-direction: column;
  margin: 0;
  padding-inline-start: calc(var(--text-start)  + var(--rule-start));
  display: flex;
}

.card ul li {
  height: 21px;
}

input, button, article {
  font-optical-sizing: auto;
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-family: Shantell Sans, cursive;
  font-style: normal;
  font-weight: 400;
}

.headercontainer {
  display: inline-flex;
}

.firstheading {
  display: inline;
}

.otherheading {
  color: #483d8b;
  cursor: pointer;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

header details {
  color: #000;
  font-size: .7rem;
}

header details summary {
  color: #000;
  font-size: 1rem;
}

footer {
  color: #696969;
  margin-top: 2rem;
  font-size: .7rem;
  font-style: italic;
}
