article {
  flex-direction: column;
  display: flex;
}

.card-head {
  --rule-start: 2rem;
  --text-start: .3rem;
  background-color: light-dark(#fff, #000);
  background-image: linear-gradient(90deg, transparent var(--rule-start), light-dark(#abced4, #c86363) var(--rule-start), light-dark(#abced4, #c86363) calc(var(--rule-start)  + 2px), transparent calc(var(--rule-start)  + 2px)), linear-gradient(light-dark(#eee, #333) .1em, transparent .1em);
  background-size: 100% 2.6rem;
  height: 3.9rem;
  padding-top: 1.3rem;
}

.card-head .headercontainer {
  margin-left: calc(var(--text-start)  + var(--rule-start));
}

.card-head h1 {
  margin: -2px 0 0;
  font-size: 32px;
  line-height: 1.3;
}

.card-head h1:before, .card-head h1:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}

.card-head h1:before {
  margin-bottom: -.3em;
}

.card-head h1:after {
  margin-top: -.3em;
}

.card-head .headercontainer {
  display: inline-flex;
}

.card-head .firstheading {
  display: inline;
}

.card-head .otherheading {
  color: light-dark(#483d8b, #a498f0);
  cursor: pointer;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.card {
  --rule-start: 2rem;
  --text-start: .3rem;
  background-color: light-dark(#fff, #000);
  background-image: linear-gradient(90deg, transparent var(--rule-start), light-dark(#abced4, #c86363) var(--rule-start), light-dark(#abced4, #c86363) calc(var(--rule-start)  + 2px), transparent calc(var(--rule-start)  + 2px)), linear-gradient(light-dark(#eee, #333) .1em, transparent .1em);
  background-size: 100% 21px;
  padding-bottom: calc(2.4em + .5px);
  position: relative;
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
}

.card p:before, .card p:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}

.card p:before {
  margin-bottom: -.3em;
}

.card p:after {
  margin-top: -.3em;
}

.card li, .card label, .card form.addtodo button {
  margin: 2px 0 -2px;
  font-size: 16px;
}

.card button {
  cursor: pointer;
}

.card p, .card form.addtodo {
  margin: 0;
  margin-left: calc(var(--text-start)  + var(--rule-start));
  flex-direction: row;
  margin-top: 2px;
  display: flex;
}

.card input {
  max-width: 15ch;
  margin-right: 1rem;
  font-size: 16px;
}

.card button, .card input, .card form:not(.addtodo) {
  background: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.card input::placeholder {
  color: light-dark(gray, #d3d3d3);
}

.card ul {
  flex-direction: column;
  margin: 0;
  padding-inline-start: calc(var(--text-start)  + var(--rule-start));
  display: flex;
}

.card ul li {
  height: 21px;
}

.card ul li button, .card ul li details {
  color: light-dark(gray, #d3d3d3);
  font-size: 10pt;
  font-weight: lighter;
}

.card ul li details {
  flex-direction: row;
  gap: .5rem;
  display: inline-flex;
}

.card ul li summary {
  cursor: pointer;
  display: inline;
}

.card ul li details[open] summary:after {
  content: ":";
}

.card-head, .card-head input, .card-head button, .card, .card input, .card button {
  font-optical-sizing: auto;
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-synthesis: none;
  font-family: Shantell Sans, cursive;
  font-style: normal;
  font-weight: 400;
}
