<div class="card-head">
    <div class="headercontainer">
        <h1 class="firstheading">Today</h1>
    </div>
    <a class="otherheading" hx-get="/htmx/tomorrow" hx-target="#main" hx-trigger="click">
        Tomorrow
    </a>
</div>

<div class="card">
    <form class="addtodo" hx-post="/task/new" hx-swap="none"
        hx-on::after-request="if(event.detail.successful) this.reset()">
        <input name="when" type="hidden" value="today" />
        <label>I will...
            <input required size="20" name="text" type="text" placeholder="do good" /></label>
        &nbsp;
        <button>[Ok]</button>
    </form>


</div>

<div class="card-body">
    <ul hx-get="/task/list?when=today" hx-trigger="taskCreated from:body, taskDeleted from:body, login from:body, load"
        hx-swap="innerHTML"></ul>
</div>