{% extends "wrap.html" %} {% block title %}{{ super() }}{% endblock %} {% block
content %}

<div>
    <header>
        <details>
            <summary>Authentication</summary>
            <script type="module">
                const span = document.querySelector("#authentication_span");

                const req = await fetch("/user/info", { method: "POST" });

                if (req.ok) {
                    const user = await req.json();

                    const body = `You are logged in. Your user ID is ${user.id}. 
                        <br> You are in timezone ${user.timezone}. 
                        <br><br> Your login code is <samp><input value=\"${user.pass}\" readonly></samp>. 
                        <br> Use this to log in on other devices. If you want to ensure your tasks are saved, write this code down.`;
                    span.innerHTML = body;
                } else {
                    const body = `You are not logged in`;
                    span.innerHTML = body;
                }
            </script>
            <span id="authentication_span"></span>
            <br />
            <form method="POST" action="/user/login" id="user-login">
                <label>Login with code: <br /><input name="pass" /></label>
                <br /><button>Ok</button>
            </form>
        </details>
    </header>

    <hr />

    {% include "list.html" %}

    <footer>
        <details>
            <summary>An attempt at an ADHD friendly todo list.</summary>

            <p>
                This website was MVP'd in one day, styling and all.
            </p>

            <p> Explanation: </p>
            <ul>
                <li>Add items to your list</li>
                <li>If you make a mistake, press edit.</li>
                <li>Once you complete a task, tap it to cross it out.</li>
                <li>Bask in your achievements!</li>
                <li>
                    Every day, at 00:00 in your local time, items from tomorrow
                    will move to today.
                </li>
                <li>Items will stay in your today list until deleted. This behaviour may change in the future.
                    Discuss
                    this issue <a href="https://github.com/j0lol/tmrw/issues/3">here</a>.</li>
            </ul>
            <p>Acknowledgements:</p>
            <ul>
                <li>Axum for a lovely Rust web server.</li>
                <li>
                    This lovely paper background.
                    <a href="https://projects.verou.me/css3patterns/#lined-paper">Thanks!</a>
                </li>
                <li>
                    My mum, who gave me this idea. In analogue form, that is.
                    &lt;3
                </li>
            </ul>

            <p>
                Developed by <a href="https://j0.lol">j0</a>.
                <a href="https://github.com/j0lol/tmrw">Source code</a>
            </p>
        </details>
    </footer>
</div>

{% endblock %}