<style>
    article[day="today"] {
        .tomorrow {
            display: none;
        }
    }

    article[day="tomorrow"] {
        .today {
            display: none;
        }
    }
</style>
<article day="today" id="main">

    <div class="card-head">
        <div role="tablist" class="headercontainer">
            <button active role="tab" class="header-today">Today</button>
            <button role="tab" class="header-tomorrow">
                Tomorrow
            </button>
        </div>
    </div>

    <div class="card">
        <form class="addtodo">
            <input id="input-when" name="when" type="hidden" value="today" />
            <label for="addtodoinput">I will...</label>

            <autowidth-input id="addtodoinput" placeholder='do good' name="text" required></autowidth-input>
            <button>[Ok]</button>
        </form>


    </div>

    <div class="card-body today">
        <ul>
            {% for task in today %}
            {% set message = task.text %}
            <task-item task_id="{{ task.id }}" day="today" {% if task.checked %}checked{% endif %}>
                <template shadowrootmode="closed">
                    {% include "components/task-item.html"%}
                </template>
                <span slot="message">{{ task.text }}</span>
            </task-item>
            {% endfor %}
        </ul>
    </div>


    <div class="card-body tomorrow">
        <ul>
            {% for task in tomorrow %}
            {% set message = task.text %}
            <task-item task_id="{{ task.id }}" day="tomorrow" {% if task.checked %}checked{% endif %}>
                <template shadowrootmode="closed">
                    {% include "components/task-item.html"%}
                </template>
                <span slot="message">{{ task.text }}</span>
            </task-item>
            {% endfor %}
        </ul>
    </div>
</article>