<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Cosmetics -->
    <link rel="icon" href="/static/img/favicon.ico" sizes="any" /> <!-- 32×32 -->
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" /> <!-- 180×180 -->
    <link rel="manifest" href="/static/meta/manifest.webmanifest"> <!-- PWA metadata -->

    <!-- local styles -->
    <link rel="stylesheet" href="/static/css/basic.css" />

    <!-- Preloads -->
    <link rel="modulepreload" href="/static/js/main.js" />
    <link rel="modulepreload" href="/static/js/modules/add-todo.js" />
    <link rel="modulepreload" href="/static/js/modules/component-element.js" />
    <link rel="modulepreload" href="/static/js/modules/components.js" />
    <link rel="modulepreload" href="/static/js/modules/header-nav.js" />
    <link rel="modulepreload" href="/static/js/modules/user.js" />
    <link rel="modulepreload" href="/static/js/custom-elements/task-item.js" />

    <script type="module" src="/static/js/main.js">
    </script>


    {% block head_extra %}{% endblock %}

    <title>{% block title %}TMRW{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    {% include "component-import.html" %}

    <div class="wrapper">
        {% block content %}🌵🏜️{% endblock %} {% block footer %}
        {% endblock %}
    </div>
</body>

</html>