<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Selfhosted JS -->
    <script src="/static/js/npm/htmx.min.js"></script> <!-- https://www.npmjs.com/package/htmx.org -->
    <script src="/static/js/npm/hyperscript.min.js"></script> <!-- hyperscript -->
    <script src="/static/js/npm/js.cookie.min.js"></script> <!--  https://www.npmjs.com/package/js-cookie -->
    <!-- I hate the current Cookie API, and the new one is secure-context only -->

    <!-- local styles -->
    <link rel="stylesheet" href="/static/css/out.css" />
    <link rel="stylesheet" href="/static/css/basic.css" />

    <script src="/static/js/script.123514.js"></script>

    <!-- 32×32 -->
    <link rel="icon" href="/static/img/favicon.ico" sizes="any" />
    <!-- 180×180 -->
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />

    <!-- PWA metadata -->
    <link rel="manifest" href="/static/meta/manifest.webmanifest">

    <meta name="htmx-config" content='{"requestClass": "is-loading"}' />
    {% block head_extra %}{% endblock %}

    <title>{% block title %}TMRW{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        {% block content %}🌵🏜️{% endblock %} {% block footer %}
        {% endblock %}
    </div>
</body>

</html>